/* this is the style sheet for tour.html */
*{
    text-decoration: none;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(217, 198, 216);
}

.navbar{
    background: rgb(89, 13, 70);
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px; font-weight: 600; color: aliceblue;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
/* card container style with flexbox layout */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }
/* individual card style so that it will appear as
round corner boxes */
  .card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    margin: 2px;
  }
/* card image style */
  .card img{
    width: 100%;
    height: auto;
  }
/* padding for card content */
  .card-content{
    padding: 16px;
  }
/* card header style */
  .card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
  }
/* card paragraph style */
  .card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
  }

  .card-content button{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
  } 

