*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(217, 198, 216);
}
/* Style for the header */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: auto;
}
/* Style for the paragraph*/
p{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: auto;

}
.navbar{
    background: rgb(89, 13, 70);
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px; font-weight: 600; color: aliceblue;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
/* Container for video content */
.video-container {
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;      
    height: 100vh;            
    gap: 1rem;                
}

/* Style for the video element within the video container */
.video-container > video {
    width: 70%;
    height: 80%;             
}

/* Style for video control buttons */
.video-controls button {
    width: 36px;              
    height: 36px;            
    background-color: #d5cea3; 
    border: none;            
}

/* Style for images inside the control buttons */
.video-controls button img {
    padding: 2px;         
}


