/* this is the style sheet for the index page */


*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Set background color for the entire body */
body{
    background-color: rgb(217, 198, 216);
}
/* Style the navigation bar */
.navbar{
    background: rgb(89, 13, 70);
    padding-right: 15px;
    padding-left: 15px;
}
/* Flex container for the navigation bar content */
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Style for the logo link */
.logo a{
    font-size: 35px; font-weight: 600; color: aliceblue;
}
/* List item style, used for navigation links */
li{
    list-style: none;
    display: inline-block;
}
/* Style for the navigation links */
li a{
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
/* Full-height sections with background image */
/* the image does not cover full height of the screen so 
i put it to vh so that it can cover the site */
  section{
    min-height: 100vh;
    background-image: url("https://t4.ftcdn.net/jpg/06/00/62/77/360_F_600627754_uKAUfEHyXUdPHlZWldI47Z5TqZpGKhB7.jpg");
  }
/* Article container with center alignment and vertical centering */
  .article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
  }
/* Heading style within the article section */
  .article h1{
    font-size: 36px;
    color: rgb(239, 236, 236);
    letter-spacing: 1.5px;
    font-weight: 800px;
    margin-bottom: 25px;
  }
/* Paragraph style within the article section */
  .article p{
    font-size: 18px;
    color: #fcfafa;
    line-height: 1.5px;
    margin-bottom: 50px;
  }
/* Style for button links within the article section */
  .article .button1{
    color: rgb(0, 0, 0);
    padding: 12px 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(151, 129, 97);
  }

 